*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    scroll-behavior: smooth;
}
/* common css */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1165px;
    width: 100%;
    margin: 0 auto;
}
/* header section start here */
#header_area{
}
.top_area{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.logo{
    display: flex;
    color: #4EB0E0;
}
.logo h2{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 3px 0;
    font-family: 'Yusei Magic', sans-serif;
}
.logo .fa{
    font-size: 30px;
    padding: 2px 5px;
}
.navbar ul li{
    display: inline-block;
    padding: 6px 15px;
}
.navbar ul li a{
    display: block;
    text-transform: capitalize;
    font-size: 18px;
    color: #363958;
    font-weight: 500;
}
.bottom_area{
    display: flex;
}
.half_area{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.text .colored{
    color: #4EB0E0;
}
.text{
    padding: 15px;
}
.text p {
    text-align: justify;
    color: dimgray;
    padding-bottom: 20px;
}
.text .btn{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    background-image: linear-gradient(#4EB0E0,#99DAE7);
    padding: 8px 30px;
}
/* second area start here */
#second_area{
    padding: 5% 0;
}
.flexiable{
    display: flex;
}
/* services start here */
.center{
    text-align: center;
}
.services_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.service_item{
    text-align: center;
    width: 33%;
    height: 280px;
    box-shadow: 0 10px 20px -6px #000;
    margin: 12px;
    padding: 20px;
}
.service_item .fa{
    font-size: 50px;
    color: #4EB0E0;
    padding:0 0 20px 0;
}
.service_item h3{
    color: #363958;
}
.service_item p{
    color: dimgray;
    text-align: center;
}
/* projects area start here */
#projects_area{
    padding:20px 0;
}
.projects_box{
    display: flex;
}
.projects_item{
    width: 31%;
    margin: 20px;
    border: 1px solid #4EB0E0;
}
.projects_item img{
    height: 200px;
}
.projects_text{
    padding: 15px;
}
.projects_text p{
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: dimgray;
}
.btn_projects{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    background-image: linear-gradient(#4EB0E0,#99DAE7);
    padding: 8px 30px;
}
/* contact area start here */
#contact_area{
    background: url(images/layered-waves-haikei\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: max-content;
    padding: 5% 0;
}
.half_area_footer{
    width: 50%;
}
.mail_call a{
    padding: 10px 40px;
    background-image: linear-gradient(#4EB0E0,#99bde7);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #001220;
}
.footer_svg{
}
.md_p{
    padding-bottom: 20px;
}
.copy_rights{
    background: #7CCBE4;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color: #001220;
}

/* responsive here */
@media (max-width: 700px){
    .top_area {
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom_area {
        display: block;
    }
    .half_area{
        width: 100%;
    }
    #second_area {
        padding: 10% 0;
    }
    .flexiable {
        display: block;
    }
    .services_box{
        display: block;
    }
    .service_item {
        width: 100%;
        margin: 15px 0;
    }
    .projects_box {
        display: block;
    }
    .projects_item{
        width: 90%;
        margin: 20px auto;
    }
    .projects_item img {
        height: 265px;
    }
    .half_area_footer {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #contact_area{
        background: url(images/layered-waves-haikei.svg);
    }
    
}                                      
